* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  background-color: #fff;
  overflow: hidden;
}

body.disabled {
  overflow: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  width: 100%;
  height: 100%;
  object-position: center;
  display: block;
}

.logo-link {
  font-family: "Ribeye", cursive;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 6%;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #c9453b;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.title {
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 140%;
  color: #000000;
}

.title--card {
  font-family: Gelasio;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}

.news-title {
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 160%;
  opacity: 0.6;
}

.news-author {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #000;
  opacity: 0.8;
}

.news-author--bold {
  font-weight: 500;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1000;
}

.scroll-header {
  background-color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav__logo-link {
  color: #fff;
  z-index: 5;
}

.nav__button {
  display: none;
}

.menu__icon {
  display: block;
  position: absolute;
  top: 18px;
  right: 10px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.menu__icon.active .menu__icon-line {
  transform: scale(0);
}

.menu__icon.active .menu__icon-line--top {
  transform: rotate(-45deg);
  top: 8px;
}

.menu__icon.active .menu__icon-line--bottom {
  transform: rotate(45deg);
  bottom: 8px;
}

.menu__icon-line {
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__icon-line--top {
  top: 0px;
}

.menu__icon-line--bottom {
  top: auto;
  bottom: 0px;
}

.menu__body {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  transition: top 0.3s ease 0s;
  padding-top: 125px;
  z-index: 4;
  overflow: auto;
}

.menu__body.active {
  top: 0;
}

.menu__body.active::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  background-color: black;
}

.menu__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__item {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.menu__link {
  font-size: 30px;
  color: white;
  transition: all 0.3s ease-in;
}

.menu__link--special {
  color: #c9453b;
}

.home {
  position: relative;
  height: 100vh;
}

.home__bg {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top right;
}

.home__wrapper {
  padding: 20px 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.home__card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home__title {
  font-family: Gelasio;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: white;
}

.home__text {
  color: white;
  opacity: 1;
  text-align: justify;
  line-height: 160%;
  margin-top: 15px;
}

.home__button {
  margin-top: 20px;
  width: 100px;
  height: 30px;
}

.location-posts {
  padding: 60px 0 10px 0;
}

.location-posts__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.location-posts__title {
  margin-bottom: 5px;
}

.location-posts__description {
  text-align: center;
  padding: 0 10px;
}

.location-posts__items {
  display: flex;
  flex-direction: column;
  margin: 0 -15px;
}

.location-posts__column {
  flex: 0 0 100%;
}

.location-post {
  margin-bottom: 25px;
  height: 100%;
  transition: all 0.3s ease-in;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.location-post__image-wrapper {
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.location-post__image {
  transition: 1s;
}

.location-post__info {
  text-align: center;
}

.location-post__title {
  display: inline-block;
}

.location-post__text {
  margin-top: 10px;
  text-align: center;
  padding: 0 10px;
}

.blog {
  padding: 80px 10px 10px;
}

.blog__wrapper {
  display: flex;
  flex-direction: column;
}

.blog__title {
  margin-bottom: 10px;
  text-align: center;
}

.blog__text {
  text-align: center;
  margin-bottom: 25px;
}

.blog__news-wrapper {
  margin: 0 -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__small-news-wrapper {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.big-news__image-wrapper {
  overflow: hidden;
  width: 270px;
}

.big-news__image {
  transition: 1s;
}

.big-news__info {
  padding-top: 10px;
}

.big-news__text {
  margin-top: 10px;
}

.big-news__author {
  margin-top: 10px;
}

.small-news {
  display: flex;
  align-items: center;
  width: 100%;
}

.small-news__image-wrapper {
  overflow: hidden;
  border-radius: 10px;
  flex: 0 0 120px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.small-news__image {
  transition: 1s;
}

.footer {
  margin-top: 60px;
  background: rgba(38, 148, 153, 0.04);
}

.footer__wrapper {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo-link {
  color: black;
}

.footer__social {
  margin-top: 20px;
}

.footer__social-links {
  display: flex;
  justify-content: center;
}

.footer__contact-us {
  font-size: 12px;
  line-height: 160%;
  color: black;
  margin-top: 10px;
}

.footer__name {
  text-align: center;
}

.footer__email-link {
  display: inline-block;
  color: inherit;
  font-size: 16px;
  margin-top: 10px;
}

.footer__company-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer__list {
  margin-top: 15px;
}

.footer__item {
  margin-top: 10px;
}

.footer__item:first-child {
  margin-top: 0;
}

.footer__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  color: black;
  letter-spacing: 0.5px;
}

.footer__subscribe-block {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 6%;
}

.social-link {
  margin-left: 27px;
}

.social-link:first-child {
  margin-left: 0;
}

.social-link__image-wrapper {
  width: 20px;
  height: 20px;
}

.subscribe-form {
  margin-top: 10px;
}

.subscribe-form__input {
  width: 155px;
  height: 20px;
  font-size: 16px;
  border: 1px solid #000000;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 5px 10px;
}

.subscribe-form__input::placeholder {
  padding: 5px 10px;
}

.subscribe-form__button {
  width: 50px;
  height: 20px;
}

@media (min-width: 576px) {
  .container {
    width: 576px;
  }

  .title--card {
    font-size: 20px;
  }

  .title {
    font-size: 25px;
  }

  .text {
    font-size: 12px;
  }

  .news-author {
    font-size: 12px;
  }

  .home__wrapper {
    padding-left: 15px;
  }

  .home__title {
    font-size: 30px;
  }

  .home__button {
    width: 110px;
  }

  .location-posts__header {
    margin-bottom: 15px;
  }

  .location-posts__title {
    margin-bottom: 10px;
  }

  .location-posts__description {
    padding: 0 30px;
  }

  .big-news__image-wrapper {
    width: 450px;
  }

  .big-news__info {
    text-align: center;
    align-self: center;
  }

  .small-news__image-wrapper {
    flex: 0 0 100px;
  }

  .footer__wrapper {
    margin-top: 80px;
    padding: 30px 10px 30px;
  }

  .footer__list {
    margin-top: 0;
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .title {
    font-size: 30px;
  }

  .news-title {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .news-author {
    font-size: 14px;
  }

  .header {
    position: absolute;
  }

  .nav {
    height: 80px;
  }

  .nav__button {
    display: inline-flex;
    width: 120px;
    height: 30px;
  }

  .menu__icon {
    display: none;
  }

  .menu__body {
    position: relative;
    padding-top: 0;
    overflow: visible;
    background: none;
  }

  .menu__list {
    flex-direction: row;
    align-items: center;
  }

  .menu__item {
    margin: 0;
    padding: 0;
    margin-left: 25px;
  }

  .menu__link--special {
    display: none;
  }

  .menu__link {
    font-size: 16px;
  }

  .home__bg {
    background-size: 100% 100vh;
    background-position: top center;
  }

  .home__title {
    font-size: 40px;
  }

  .home__text {
    opacity: 0.6;
  }

  .home__button {
    width: 120px;
  }

  .location-posts__header {
    margin-bottom: 15px;
  }

  .location-posts__title {
    margin-bottom: 20px;
  }

  .location-posts__description {
    padding: 0 70px;
  }

  .location-posts__items {
    flex-direction: row;
  }

  .location-posts__column {
    flex: 0 1 33%;
    padding: 0 15px;
  }

  .location-post {
    margin-bottom: 0;
  }

  .location-post__image-wrapper {
    border-radius: 10px 10px 0 0;
  }

  .location-post__info {
    padding: 10px 10px;
  }

  .blog {
    padding: 110px 11px 10px;
  }

  .blog__text {
    margin: 0px auto 30px;
    width: 550px;
  }

  .blog__news-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .big-news {
    align-items: flex-start;
    flex: 0 0 380px;
    margin-right: 20px;
  }

  .big-news__image-wrapper {
    width: 100%;
  }

  .big-news__info {
    text-align: left;
    align-self: flex-start;
  }

  .small-news {
    width: 320px;
    margin-bottom: 15px;
  }

  .small-news__image-wrapper {
    flex: 0 0 150px;
    height: 140px;
  }

  .small-news__text {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .footer {
    margin-top: 100px;
  }

  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .footer__logo-link {
    font-size: 24px;
    align-self: flex-start;
  }

  .footer__social {
    margin-top: 26px;
  }

  .footer__social-links {
    justify-content: flex-start;
  }

  .footer__contact-us {
    margin-top: 20px;
  }

  .footer__name {
    text-align: left;
    font-size: 16px;
  }

  .footer__company-links {
    justify-content: space-between;
  }

  .footer__list {
    margin-left: 40px;
  }

  .footer__item {
    margin-top: 10px;
  }

  .footer__link {
    font-size: 14px;
  }

  .footer__subscribe-block {
    align-items: flex-start;
  }

  .footer__title {
    font-size: 18px;
  }

  .subscribe-form {
    margin-top: 20px;
  }

  .subscribe-form__input {
    width: 130px;
    height: 30px;
    margin-right: 25px;
  }

  .subscribe-form__button {
    width: 60px;
    height: 30px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }

  .button {
    font-size: 16px;
  }

  .title--card {
    font-size: 22px;
  }

  .title {
    font-size: 38px;
  }

  .news-title {
    font-size: 18px;
  }

  .text {
    font-size: 16px;
  }

  .news-author {
    font-size: 18px;
  }

  .nav {
    height: 90px;
  }

  .nav__button {
    width: 140px;
    height: 40px;
  }

  .menu__item {
    margin-left: 40px;
  }

  .menu__link {
    font-size: 18px;
  }

  .home__title {
    font-size: 50px;
  }

  .home__text {
    margin-top: 30px;
  }

  .home__button {
    width: 140px;
    height: 40px;
  }

  .location-posts__header {
    margin-bottom: 25px;
  }

  .location-posts__description {
    padding: 0 155px;
  }

  .location-post__info {
    padding: 20px 15px;
  }

  .blog {
    padding: 120px 12px 10px;
  }

  .blog__title {
    margin-bottom: 20px;
  }

  .blog__text {
    width: 650px;
  }

  .big-news {
    flex: 0 0 480px;
  }

  .small-news {
    width: 440px;
  }

  .small-news__image-wrapper {
    flex: 0 0 200px;
    height: 180px;
    margin-right: 20px;
  }

  .footer {
    margin-top: 150px;
  }

  .footer__contact-us {
    margin-top: 30px;
  }

  .footer__list {
    margin-left: 80px;
  }

  .footer__link {
    font-size: 16px;
  }

  .subscribe-form {
    margin-top: 30px;
  }

  .subscribe-form__input {
    width: 160px;
    height: 36px;
    margin-right: 30px;
  }

  .subscribe-form__button {
    width: 175px;
    height: 36px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .title--card {
    font-size: 24px;
  }

  .title {
    font-size: 43px;
  }

  .news-title {
    font-size: 20px;
  }

  .text {
    font-size: 18px;
  }

  .news-author {
    font-size: 20px;
  }

  .nav {
    height: 100px;
  }

  .nav__button {
    width: 163px;
    height: 51px;
  }

  .menu__item {
    margin-left: 50px;
  }

  .home__title {
    font-size: 65px;
  }

  .home__text {
    font-size: 18px;
  }

  .home__button {
    margin-top: 40px;
    width: 187px;
    height: 59px;
  }

  .location-posts__header {
    margin-bottom: 50px;
  }

  .location-posts__description {
    padding: 0 216px;
  }

  .location-post__image-wrapper {
    height: 331px;
  }

  .location-post__info {
    padding: 35px 27px;
  }

  .blog {
    padding: 140px 21px 10px;
  }

  .blog__text {
    width: 735px;
    margin-bottom: 50px;
  }

  .blog__news-wrapper {
    padding: 0 20px;
  }

  .big-news {
    flex: 0 0 564px;
    margin-right: 32px;
  }

  .big-news__info {
    padding-top: 35px;
  }

  .small-news {
    flex: 0 0 201px;
    width: 537px;
    margin-bottom: 30px;
  }

  .small-news__image-wrapper {
    flex: 0 0 263px;
    height: 201px;
    margin-right: 27px;
  }

  .footer {
    margin-top: 200px;
  }

  .footer__wrapper {
    padding: 70px 10px 78px;
  }

  .footer__contact-us {
    margin-top: 50px;
  }

  .footer__list {
    margin-left: 120px;
  }

  .footer__title {
    font-size: 20px;
  }

  .subscribe-form {
    margin-top: 40px;
  }

  .subscribe-form__input {
    width: 195px;
    height: 44px;
    margin-right: 35px;
    font-size: 18px;
  }

  .subscribe-form__button {
    width: 103px;
    height: 44px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: #fff;
    border: 1px solid #c9453b;
    color: #c9453b;
  }

  .menu__link:hover {
    color: #c9453b;
  }

  .location-post:hover {
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);
  }

  .location-post:hover img {
    transform: scale(1.1);
  }

  .big-news:hover img {
    transform: scale(1.1);
  }

  .small-news:hover img {
    transform: scale(1.1);
  }

  .footer__link:hover {
    text-decoration: underline;
  }
}
